.button {
  display: block;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--dark);
  transition: .2s;
}

.button--primary {
  color: var(--white);
  background-color: var(--dark);
}

.button--primary:hover {
  background-color: var(--dark-hovered);
  border-color: var(--dark-hovered);
  box-shadow: 0 2px 4px rgb(0 0 0 / .4);
}

.button--secondary {
  color: var(--dark);
}

@media (orientation: landscape) and (max-device-width: 1023px) and (max-device-height: 767px) {
  .button {
    padding: 8px 12px;
  }
}

@media (min-width: 280px) and (max-width: 309px) {
  .button {
    padding: 8px 12px;
  }
}

@media (min-width: 310px) and (max-width: 823px) {
  .button {
    padding: 12px 20px;
  }
}

@media (min-width: 824px) {
  .button {
    padding: 16px 24px;
  }
}
