.footer {
  background-color: var(--dark);
}

.footer__body {
  padding-bottom: 45px;
}

@media (max-width: 1024px) {
  .footer__body {
    padding-top: 64px;
  }
}

@media (min-width: 1025px) {
  .footer__body {
    padding-top: 100px;
  }
}

.footer__icon {
  fill: var(--gray);
}

.footer__wrapper,
.footer__other-links-box {
  display: flex;
  flex-wrap: wrap;
}

.footer__wrapper {
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__wrapper {
    flex-direction: column;
    row-gap: 64px;
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) {
  .footer__wrapper {
    margin-bottom: 107px;
  }
}

.footer__title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
}

@media (max-width: 924px) {
  .footer__other-links-box {
    gap: 48px;
  }
}

@media (min-width: 925px) {
  .footer__other-links-box {
    gap: 76px;
  }
}

.footer__list-item + .footer__list-item {
  margin-top: 12px;
}

.footer__contacts-address,
.footer__link {
  font-size: 14px;
  color: var(--gray);
}

.footer__contacts-address {
  font-style: normal;
}

.footer__link {
  text-decoration: underline transparent;
  transition: .2s;
}

.footer__link:hover {
  text-decoration: underline var(--gray);
}

.footer__copyright {
  font-size: 12px;
  color: var(--gray);
}

.footer__list-item--df {
  display: flex;
  gap: 8px;
  align-items: center;
}
