.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(114px, 1fr));
  row-gap: 16px;
}

@media (max-width: 1023px) {
  .form {
    column-gap: 16px;
  }
}

@media (min-width: 1024px) {
  .form {
    column-gap: 32px;
  }
}

.form__input,
.form__textarea {
  border: 1px solid var(--dark);
}

.form__input {
  padding: 8px 16px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  color: var(--gray);
}

@media (max-width: 767px) {
  .form__input::placeholder,
  .form__textarea::placeholder {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .form__input::placeholder,
  .form__textarea::placeholder {
    font-size: 18px;
  }
}

.form__textarea {
  box-sizing: border-box;
  grid-column: span 2;
  height: 108px;
  padding: 8px 16px;
  resize: none;
}

.form__input:focus,
.form__textarea:focus {
  outline-color: var(--dark-hovered);
}
