.page__body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

@media (max-width: 669px) {
  .page__body--lock {
    overflow: hidden;
  }
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1148px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
