.about__wrapper {
  display: grid;
  row-gap: 40px;
  column-gap: 32px;
}

/* TEXT */
.about__text {
  color: var(--gray);
}

/* FEATURES */
.about__features {
  display: flex;
}

.about__features-item:not(:first-child) {
  margin-left: 24px;
}

.about__features-title {
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--blue);
  text-transform: uppercase;
}

.about__features-content {
  font-weight: 300;
  color: var(--dark);
}

/* MEDIA QUERIES */
@media (max-width: 669px) {
  .about__image-box {
    height: 300px;
    overflow: hidden;
  }

  .about__image {
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 670px) {
  .about__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .about__image {
    max-width: 100%;
    height: auto;
  }

  .about__features {
    grid-column: span 2;
  }
}

@media (max-width: 767px) {
  .about__body {
    padding-top: 84px;
    padding-bottom: 48px;
  }

  .about__content-box {
    align-self: center;
  }

  .about__text {
    margin-top: 24px;
  }

  .about__features {
    justify-content: space-evenly;
  }

  .about__features-title {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .about__body {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .about__content-box {
    align-self: end;
  }

  .about__image-box {
    grid-row: span 2;
  }

  .about__text {
    margin-top: 40px;
  }

  .about__features {
    grid-column: span 1;
    justify-content: space-between;
  }

  .about__features-title {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .about__features-content {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about__features-content {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .about__features-content {
    font-size: 48px;
  }
}
