.comments__body {
  padding-top: 54px;
  padding-bottom: 126px;
}

.comments__header {
  text-align: center;
}

@media (max-width: 767px) {
  .comments__header {
    margin-bottom: 36px;
  }
}

@media (min-width: 768px) {
  .comments__header {
    margin-bottom: 78px;
  }
}

.comments__title,
.comments__tagline {
  color: var(--dark);
}

.comments__title {
  margin-bottom: 12px;
}

.comments__wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .comments__wrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .comments__autor,
  .comments__content {
    flex-basis: 48%;
  }
}

.comments__autor-img {
  max-width: 100%;
  height: auto;
}

.comments__content {
  color: var(--dark);
}

.comments__content-quote {
  height: auto;
  fill: var(--blue);
}

@media (max-width: 767px) {
  .comments__content-quotes {
    margin-bottom: 8px;
  }

  .comments__content-quote {
    width: 18px;
  }

  .comments__content-quote:last-child {
    margin-left: -8px;
  }
}

@media (min-width: 768px) {
  .comments__content-quotes {
    margin-bottom: 18px;
  }

  .comments__content-quote {
    width: 26px;
  }
}

.comments__content-title {
  font-weight: 700;
}

@media (min-width: 768px) {
  .comments__content-title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .comments__content-text {
    margin: 12px 0;
  }
}

@media (min-width: 768px) {
  .comments__content-text {
    margin: 18px 0;
    font-weight: 300;
  }
}

.comments__content-autor-name {
  font-weight: 600;
}

@media (max-width: 767px) {
  .comments__content-autor-name {
    font-size: 18px;
  }

  .comments__content-autor-profession {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .comments__content-autor-name {
    font-size: 24px;
  }

  .comments__content-autor-profession {
    font-size: 18px;
  }
}

.comments__slider-box {
  position: relative;
}

.comments__slider-button-next,
.comments__slider-button-prev {
  position: absolute;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 1185px) {
  .comments__slider-button-next,
  .comments__slider-button-prev {
    bottom: -64px;
  }

  .comments__slider-button-next {
    right: 25%;
    transform: translateX(-25%);
  }

  .comments__slider-button-prev {
    left: 25%;
    transform: translateX(-25%);
  }
}

@media (min-width: 1186px) {
  .comments__slider-button-next,
  .comments__slider-button-prev {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 1186px) and (max-width: 1288px) {
  .comments__slider-button-next {
    right: -3%;
  }

  .comments__slider-button-prev {
    left: -3%;
  }
}

@media (min-width: 1289px) {
  .comments__slider-button-next {
    right: -84px;
  }

  .comments__slider-button-prev {
    left: -84px;
  }
}

.comments__slider-button-icon {
  fill: var(--blue);
}
