.contact-us__content {
  flex: 0 1 50%;
}

.contact-us__img {
  max-width: 100%;
  height: auto;
}

.contact-us__title {
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 700;
  color: var(--dark);
}

.contact-us__tagline {
  color: var(--gray);
}

.contact-us__form {
  max-width: 100%;
  height: auto;
  margin: 38px 0;
}

.contact-us__btn-box {
  display: flex;
  gap: 18px;
}

@media (max-width: 357px) {
  .contact-us__btn-box {
    flex-direction: column;
  }
}

@media (min-width: 358px) {
  .contact-us__btn-box {
    align-items: center;
  }
}

.contact-us__guarantee {
  font-size: 12px;
  color: var(--gray);
}

@media (max-width: 767px) {
  .contact-us__body {
    padding: 32px 0 100px 0;
  }

  .contact-us__wrapper {
    display: block;
  }

  .contact-us__picture-box {
    display: none;
  }

  .contact-us__tagline {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .contact-us__body {
    padding: 100px 0;
  }

  .contact-us__wrapper {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
  }

  .contact-us__picture-box,
  .contact-us__form {
    flex: 0 1 50%;
  }

  .contact-us__tagline {
    font-size: 18px;
  }
}
