.hero {
  background: linear-gradient(var(--blue), #c1d3e2);
}

.hero__body,
.hero__buttons {
  display: flex;
}

.hero__wrapper {
  position: relative;
}

.hero__body {
  height: 100vh;
}

.hero__content {
  z-index: 2;
  align-self: center;
}

.hero__title,
.hero__text {
  color: var(--dark);
}

.hero__title {
  width: 7.1em;
  font-weight: 700;
  line-height: 1.2em;
}

.hero__text {
  margin-top: 18px;
  margin-bottom: 32px;
}

.hero__buttons {
  column-gap: 30px;
}

.hero__picture {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

@media (max-width: 410px) {
  .hero__title {
    font-size: 2rem;
  }
}

@media (min-width: 411px) and (max-width: 523px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media (min-width: 524px) and (max-width: 767px) {
  .hero__title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1128px) {
  .hero__title {
    font-size: 5rem;
  }
}

@media (min-width: 1129px) {
  .hero__title {
    font-size: 5.6rem;
  }
}
